body, html{
    min-width: 100%;
    margin: 0;
}

header {
    text-align: center;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
}

#title {
    font-size: 2em;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
}


#login {
    padding-left: 0;
    font-size: 1.2em;
    display: inline-flex;
    list-style: none;
    width: 66%;
    justify-content: space-between;
}

h1,
h3 {
    text-align: center;
}

h3 {
    padding: 10px;
    background-color: #055ea5;
    color: white;
    font-size: 0.9em;
    margin-bottom: 0px;
}

#titre {
    text-align: center;
    font-size: 1.5em;
}

.news p {
    padding: 15px;
    background-color: #CCCCCC;
    margin-top: 0px;
    margin-bottom: 0px;
}

#retour_liste {
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 10px;
}

.news {
    width: 70%;
    margin: auto;
}

#com {
    background: #CCC;
    text-align: center;
    padding: 15px;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: blue;
}

#form_and_comments{
    text-align: center;
}

#form_edit_commment{
    text-align: center;
}

footer {
    margin-top: 30px;
    background: #000000cc;
    color: white;
    padding: 2rem;
    font-weight: bold;
    text-align: end;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
}